/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind utilities;

.list {
  display: block;
  overflow: auto;
  contain: strict;
  transform: translateZ(0);
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
}

.type {
  text-transform: capitalize;
  --mdc-chip-label-text-color: white !important;
}

.normal {
  background: #a8a878 !important;
}
.normal-darker {
  color: white;
  background: #86826f;
}
.fire {
  background: #f08030 !important;
}
.fire-darker {
  color: white;
  background: #e67605;
}
.fighting {
  background: #c03028 !important;
}
.fighting-darker {
  color: white;
  background: #b1261d;
}
.water {
  background: #6890f0 !important;
}
.water-darker {
  color: white;
  background: #004bcb;
}
.grass {
  background: #78c850 !important;
}
.grass-darker {
  color: white;
  background: #438f34;
}
.poison {
  background: #a040a0 !important;
}
.poison-darker {
  color: white;
  background: #721783;
}
.electric {
  background: #f8d030 !important;
}
.electric-darker {
  color: white;
  background: #f3a122;
}
.ground {
  background: #e0c068 !important;
}
.ground-darker {
  color: white;
  background: #c38900;
}
.rock {
  background: #b8a038 !important;
}
.rock-darker {
  color: white;
  background: #977b2e;
}
.bug {
  background: #a8b820 !important;
}
.bug-darker {
  color: white;
  background: #7f7a02;
}
.dragon {
  background: #7038f8 !important;
}
.dragon-darker {
  color: white;
  background: #3e23e3;
}
.ghost {
  background: #705898 !important;
}
.ghost-darker {
  color: white;
  background: #533982;
}
.dark {
  background: #705848 !important;
}
.dark-darker {
  color: white;
  background: #554337;
}
.fairy {
  background: #ee99ac !important;
}
.fairy-darker {
  color: white;
  background: #e3445d;
}
.steel {
  background: #b8b8d0 !important;
}
.steel-darker {
  color: white;
  background: #1c2175;
}
.psychic {
  background: #f85888 !important;
}
.psychic-darker {
  color: white;
  background: #f00055;
}
.ice {
  background: #98d8d8 !important;
}
.ice-darker {
  color: white;
  background: #52bebd;
}
.flying {
  background: #a890f0 !important;
}
.flying-darker {
  color: white;
  background: #6444d8;
}
